# Test public config
param1=one
param2=two
param3=three
ds_list=local1@osbiws_core;local2@osbiws_core
; comp_list={\\\"ll_widgets\\\":[\\\"tab_box\\\"],\\\"ll_chars\\\":[\\\"line\\\",\\\"bar\\\",\\\"pie\\\"]}
comp_list={\\\"ll_containers\\\":[\\\"com.osbitools.containers.tab_box\\\", \\\"com.osbitools.containers.header_box\\\"]}
